<div class="w-100">

<nav class="navbar navbar-light w-100 p-0" style="background-color: #435464;">
  <div class="w-100 p-0 justify-content-center d-flex" >
    <div class="d-flex w-100 anja">

      <div class="navbar-left text-start align-items-center d-flex">

        <div class="col-auto align-items-center pe-3" >
          <img src="/../../../assets/images/logo2-transparent.png" alt="logo" width="140" height="80"/>

        </div>

        <div class="col-auto ps-3 pe-3 mt-2 navbar-movies">
          <h5 class="pointer menu-item text-light" style="font-family: 'Courier New'" >{{ 'navbar.movies' | translate }}</h5>
        </div>

        <div class="col-auto ps-3 pe-3 mt-2 navbar-series">
          <h5 class="pointer menu-item text-light" style="font-family: 'Courier New'">{{ 'navbar.series' | translate }}</h5>
        </div>

      </div>


  <div class="d-flex align-items-center  navbar-right">

    <div class="col-auto ms-3">
    <input type="text" id="search" [ngModel]="searchText" (ngModelChange)="searchKey($event)" placeholder="&#xF002; Search"
           style="font-family: FontAwesome; background-color:#435464;" class="border border-light text-white">
    </div>

    <div class="info-and-language d-flex ms-5 align-items-center ">
      <div class="col-auto">
        <h5 class="pointer menu-item text-light"><i class="fa fa-question" aria-hidden="true"></i></h5>
      </div>

      <div class="col-auto ms-5 me-3">
          <button class=" btn btn-outline-light" style="font-family: 'Courier New';" (click)="selectLanguage()"> {{ 'language.' + selectedLanguage | translate }}</button>
      </div>
  </div>
  </div>
    </div>
  </div>
</nav>
</div>
