<div class="w-100">

<nav class="navbar navbar-expand-lg  navbar-light d-flex" style="background-color: #0a609c;">
  <div class="w-100 p-0 d-flex justify-content-center d-flex">
    <div class="row w-100">

      <div class="col-6 pt-2 text-start align-items-center d-flex">

        <div class="col-auto align-items-center pe-3" >
<!--          <img src="/../../../assets/images/slika.png" alt="logo" class="logo" height="108" width="90"/><strong style="color: #3a2a5c">orld of</strong>-->
<!--          <img src="/../../../assets/images/slika2.png" alt="logo" class="logo" height="80" width="70"/><strong style="color: #3a2a5c">inephilia</strong>-->
          <img src="/../../../assets/images/logo.png" alt="logo" class="logo" height="100" width= "190"/><strong class="text-light"></strong>

        </div>

        <div class="col-auto ps-3 pe-3">
          <h5 class="pointer menu-item text-light" >{{ 'navbar.movies' | translate }}</h5>
        </div>

        <div class="col-auto ps-3 pe-3">
          <h5 class="pointer menu-item text-light">{{ 'navbar.series' | translate }}</h5>
        </div>

      </div>


  <div class="col-6 d-flex pe-0 flex-row justify-content-end align-items-center pe-4 	d-none d-lg-flex">

      <div class="col-auto ps-3 pe-3">
        <h5 class="pointer menu-item text-light"><i class="fa fa-question" aria-hidden="true"></i></h5>
      </div>

      <div class="col-auto ps-3 pe-3">
          <button class=" btn btn-outline-light" (click)="selectLanguage()"> {{ 'language.' + selectedLanguage | translate }}</button>
      </div>

  </div>
    </div>
  </div>
</nav>
</div>
